<!--<div layout-gt-md="row">

    <panel-widget flex title="Line chart Area" template="app/views/partials/LineChartArea.html"></panel-widget>

    <panel-widget flex title="Multi Bar chart" template="app/views/partials/MultiBarChart.html"></panel-widget>


</div>-->



<div layout-gt-md="row">

    <panel-widget flex title="All Category Value" template="app/views/partials/pieChart.html"></panel-widget>


</div>






<div layout-gt-md="row">

    <panel-widget flex title="ABInBev category value" template="app/views/partials/barDiscreate.html" options="true"></panel-widget>

    <panel-widget flex title="AB_Segment_Value along with adv" template="app/views/partials/multibarHorizontal.html"></panel-widget>

</div>




<div layout-gt-md="row">

    <panel-widget flex title="sales data " template="app/views/partials/salesChart.html"></panel-widget>


</div>